
        
        .intro {
            font-style: italic;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0.5px;
            color: rgba(49, 48, 44, 0.71);
        }
    
    body {
        background: #fcf4dc; 
        font-family: 'Libre Baskerville', serif;
        color: rgba(49, 48, 44, 0.71);
    }
        
    h1, h2, h3 {
        font-weight: normal;
        text-align: center;
        
    }
        
     h1 {
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 20px 40px 30px 70px;
          
     }
        
    }
    
     h2 {
        font-size: 100px;
        font-style: oblique;     
    }

    h2.title {
        font-size: 28px;
        color: rgba(23, 21, 21, 0.63);
        font-weight: bold;
    }
    
        .subtitle {
            font-style: italic;
        }
        
        a {
            color: teal;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        
        a:hover {
            
            text-decoration: underline;
            color: black;
        }
        
        nav {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        
        nav ul {
            text-align: center;
            list-style-type: none;
        }
    
        nav ul li {
            display: inline;
            margin-left: 10px;
            
        }
    
        img {
            display: block;
            margin: 0 auto;
        }
        
        p { 
            text-align:center;
             
            
        }
        
       ul {
            list-style:disc;
            letter-spacing: 1px;
            margin-top: 10px;
           }
        
        ul li {font-weight: 500;}
        
        ul ul {
            
         margin-bottom: 10px;   
        }
        
        blockquote {
            text-align: justify, center;
            letter-spacing: 1px;
            color: rgba(15, 13, 13, 0.71);
            font-style: oblique;
        }
        
         p.conditions {
             font-size: 4px;   
         }
        
            
