   /* this resets all styles*/
     
     *{
         padding: 0;
         margin: 0;
         font-size: 100%;
         line-height: 1em;
     }
        
        .intro {
            font-style: normal;
            font-size: 20px;
            text-align:center;
            letter-spacing: 0.3px;
            color: rgba(26, 27, 28, 0.92);
            padding: 20px;
            width: auto 0;
            
        }
    
    body {
        background: #ddd; 
        font-family: 'Helvetica Neue', serif;
        
    }
       



   article {
       min-width: 300px;
       max-width: 100%;
       margin: 0 auto;
   }
     



     h1, h2, h3 {
        font-weight: normal;
        text-align: center;
        font-style: normal;
        padding: 10px;
    }
        
     h1 {
        font-size: 60px;
        text-transform: uppercase;
         Font-family: 'Helvetica Neue', serif;
        letter-spacing: 3px;
        padding: 20px;
         color: rgba(70, 11, 87, 0.78)
          
     }
        
    
    
     h2 {
        font-size: 26px;
        font-family: sans-serif;
         padding-top: 20px;
        
         

    }

    h2.title {
        font-size: 30px;
        color:  rgb(83, 17, 101);
        font-style: oblique;
        font-family: 'Baskerville' sans-serif;
        text-transform: uppercase;
        padding: 20px;
        padding-top: 40px;
        
    }
    
        .subtitle {
            font-style: italic;
            padding: 10px;
            font-family: 'Baskerville' sans-serif;
            color: #210721;
            font-size: 40px;
            
        }
        

    
        img {
            display: block;
            margin: 0 auto;
            padding: 10px;
            padding-bottom: 40px;
            
            
            
            
            
            /* This makes the image responsive */
        }
        
        p { 
            text-align:inherit;
            margin: 0 auto; 
            padding: 18px;
            line-height: 1.35em;
        
            }
        

        
       ul {
            text-align: center;
            list-style:none;
            letter-spacing: 1px;
            padding: 4px;
            font-size: 20px;
           }
        
          
        ul li {font-weight: 500;
            text-align: center;
            padding: 5px;
        }
        
        
        a {
            color: #4b075f;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 4px;
            
        }
        
        a:hover {
            
            text-decoration: underline;
            color: black;
        }
        
        nav {
            border-top: 1px solid #585454;
            border-bottom: 1px solid #585454;
            display: block;
            padding: 10px;
            margin: 0 auto;
            /* Change the width below to make navigation line bigger and smaller */
            max-width: 900px;
            min-width: 300px;
        }

        nav ul li {
            text-align: center;
            padding: 20px;
            display: inline;
        }
        
        
        nav ul {
            text-align: center;
            list-style-type: none;
        }
        
        .top{ 
            padding: 20px;
            margin: 100%;
            font-size: 20px;
            
            
            }
    
        
        blockquote {
            text-align: justify, center;
            font-size: 20px;
            letter-spacing: 0.5px;
            color: #210721;
            font-style: oblique;
            border-left: 5px solid #d5d5d5;
            padding-left: 18px;
            
        }
        
         p.conditions {
             font-size: 10px;   
             padding: 40px;
             text-align: center;
             padding: 18px;
             line-height: 1.35em;
         }
        
        a.profile {
            font-size: 8px;
            display: block;
            text-align: center;
            text-decoration-color: black;
            border-left: 3px, solid #d5d5d5;
            padding-left: 29px;
        }

/* This is the class for the head tag */

    div.head {
    }


    div.content {
    max-width: 750px;
    min-width: 300px;
    margin: 0 auto;
    }


    /* This is the line you put in randomly to separate things */
    hr {
        width: 550px;
        margin: 0 auto;
    }

            


