   /* this resets all styles*/
     
     *{
         padding: 0;
         margin: 0;
         font-size: 100%;
         line-height: 1em;
     }
        
        .intro {
            font-style: normal;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.3px;
            color: rgba(2, 34, 59, 0.71);
            padding: 20px;
        }
    
    body {
        background: #fdfdfd; 
        font-family: 'Libre Baskerville', serif;
        color: rgba(2, 34, 59, 0.85);
    }
       



   article {
       min-width: 300px;
       max-width: 750px;
       margin: 0 auto;
   }
     



     h1, h2, h3 {
        font-weight: normal;
        text-align: center;
        font-style: normal;
        padding: 10px;
    }
        
     h1 {
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 20px;
          
     }
        
    
    
     h2 {
        font-size: 25px;

    }

    h2.title {
        font-size: 25px;
        color: rgba(2, 34, 59, 0.85);
        font-weight: bold;
        padding: 20px;
    }
    
        .subtitle {
            font-style: bold;
            padding: 10px;
        }
        

    
        img {
            display: block;
            margin: 0 auto;
            padding: 10px;
            max-width: 100%;
            
            /* This makes the image responsive */
        }
        
        p { 
            text-align:center;
            padding: 18px;
            line-height: 1.35em;
            
             
            
        }
        
       ul {
            text-align: center;
            list-style:none;
            letter-spacing: 1px;
           padding: 5px
           }
        
          
        ul li {font-weight: 500;
            text-align: center;
            padding: 5px;
        }
        
        
        a {
            color: #094d88;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px;
        }
        
        a:hover {
            
            text-decoration: underline;
            color: black;
        }
        
        nav {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            width: 500px;
            display: block;
            padding: 10px;
            margin: auto;
        }

        nav ul li {
            text-align: center;
            padding: 0;
            display: inline;}
        
        
        nav ul {
            text-align: center;
            list-style-type: none;
        }
    
        
        blockquote {
            text-align: justify, center;
            letter-spacing: 1px;
            color: rgba(0, 0, 0, 0.96);
            font-style: oblique;
        }
        
         p.conditions {
             font-size: 10px;   
             padding: 40px;
             text-align:center;
             padding: 18px;
             line-height: 1.35em;
         }
        
        .profile {
              font-size: 08px;
              text-align: center;
              text-decoration-color: black;
               
        }
            

